@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService authorizationServer;


@{
    var result = await authorizationServer.AuthorizeAsync(this.User, "viewManageMenu");
}


@if (result.Succeeded)
{
   

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Quản trị</strong>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li> <a class="dropdown-item" asp-action="Index" asp-controller="ProductManage" asp-area="AppManage">Quản lý sản phẩm</a></li>
        </ul>
    </div>

}
