@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MongoShop.Views.Manage
@model MongoShop.Models.Identity.ManageViewModels.TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Xác thực 2 yếu tố";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Không có mã khôi phục.</strong>
            <p> <a asp-action="GenerateRecoveryCodes">Sinh mã khôi phục</a> .</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Còn 1 mã khôi phục.</strong>
            <p>You can <a asp-action="GenerateRecoveryCodes">Sinh mã mới</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Còn @Model.RecoveryCodesLeft mã khôi phục.</strong>
            <p>You should <a asp-action="GenerateRecoveryCodes">Sinh mã khôi phục</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Tắt 2FA</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Đặt lại mã khôi phục</a>
}

<h5>Xác thực với ứng dụng Authenticator </h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Thêm ứng dụng authenticator</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Cấu hình authenticator</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Đặt lại authenticator</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
